@model User
@using System.Security.Claims;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>
</div>

<div p-3>
    @{
        if (User.Identity.IsAuthenticated) // Xác định đã có người đăng nhập hay chưa
        {
            ClaimsPrincipal currentUser = this.User;
            var currentUserID = currentUser.FindFirst(ClaimTypes.NameIdentifier).Value;
            // Lấy ID người đăng nhập hiện tại
            if (Model.UserId.Equals(currentUserID))
            {
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.UserId">Thay đổi thông tin</a>
            }
            if (Model.RoleId == 1)
            {
                <a class="btn btn-primary" asp-action="Index">Quay về danh sách người dùng</a>
            }
        }
    }
</div>
