@model IEnumerable<Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách thể loại</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GenreDescription)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.GenreId">Sửa</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.GenreId">Chi tiết</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GenreId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
