@model WebNovel.Models.Chapter
@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
}

<h4>@Html.DisplayFor(model => model.ChapterTitle)</h4>

<div>
    <hr />
    <div class ="d-flex justify-content-around">
        <div>
            <label class="fw-bold">
                Ngày đăng:
            </label>
            <label>
                @Html.DisplayFor(model => model.ChapterDatePost)
            </label>
        </div>
        <div>
            <label class="fw-bold">
                Tiểu thuyết:
            </label>
            <label>
                @Html.DisplayFor(model => model.Novel.NovelTitle)
            </label>
        </div>
        <div>
            <label class="fw-bold">
                Người đăng:
            </label>
            <label>
                @Html.DisplayFor(model => model.Novel.UserId)
            </label>
        </div>
    </div>
</div>

<div>
    @{
        if (User.Identity.IsAuthenticated) 
        {
            ClaimsPrincipal currentUser = this.User; 
            var currentUserID = currentUser.FindFirst(ClaimTypes.NameIdentifier).Value;
            // Lấy ID người đăng nhập hiện tại
            if(Model.Novel.UserId.Equals(currentUserID))
            {
                <div>
                    <a asp-action="Edit" asp-route-id="@Model?.ChapterId">Edit</a> |
                    <a asp-action="Index">Back to List</a>
                </div>
            }
            
        }
    }
</div>
<div>
    <hr />
    @Html.DisplayFor(model => model.ChapterContent)
</div>