@model Novel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Novel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovelTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovelTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovelDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovelDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovelCover)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovelCover)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovelDatePost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovelDatePost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovelView)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovelView)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NovelId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
