@model IEnumerable<Novel>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách tiểu thuyết</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NovelTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NovelDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NovelDatePost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NovelView)
            </th>
            <th>
                Tác giả
            </th>
            <th>
                Người đăng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NovelTitle)
            </td>
                <td class="col-2 text-truncate" style="max-width: 150px">
                @Html.DisplayFor(modelItem => item.NovelDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NovelDatePost)
            </td>
            <td style="max-width: 200px">
                    @foreach (var genre in item.Genres)
                    {
                            <label>@genre.GenreName</label>
                        if (item.Genres.Count > 1)
                        {
                                    <label>, </label>
                        }
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NovelView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.NovelId">Sửa</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.NovelId">Chi tiết</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.NovelId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
